<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <h3 style="background-color: aliceblue">Create Order</h3>
          <p>Fill in the data below.</p>
          <form class="requires-validation" novalidate>
            <div style="background-color: aliceblue" class="col-md-12">
              <label class="control-label col-md-12">Buy Or sell</label>
              <select
                [(ngModel)]="orderDetails.buyOrSell"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
              >
                <option
                  *ngFor="let buyOrSell of buyOrSellArray"
                  [value]="buyOrSell"
                >
                  {{ buyOrSell }}
                </option>
              </select>
              <div id="buyOrSellValid" class="valid-feedback">
                Buy or Sell field is valid!
              </div>
              <div id="buyOrSellInvalid" class="invalid-feedback">
                Please select an option
              </div>
            </div>

            <div class="col-md-12">
              <label class="control-label col-md-12">Price</label>
              <input
                type="text"
                [(ngModel)]="orderDetails.price"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
              />
              <div id="priceValid" class="valid-feedback">
                Price field is valid!
              </div>
              <div id="priceInvalid" class="invalid-feedback">
                Price field must be greater than 0!
              </div>
            </div>

            <div class="col-md-12">
              <label class="control-label col-md-12">Status Code</label>
              <input
                type="text"
                [(ngModel)]="orderDetails.statusCode"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
              />
              <div id="statusCodeValid" class="valid-feedback">
                You entered a Status Code!
              </div>
              <div id="statusCodeInvalid" class="invalid-feedback">
                Please enter a Status code!
              </div>
            </div>

            <div class="col-md-12">
              <label class="control-label col-md-12">Stock Ticker </label>
              <input
                type="text"
                [(ngModel)]="orderDetails.stockTicker"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
              />
              <div id="stockTickerValid" class="valid-feedback">
                Stock Ticker field is valid!
              </div>
              <div id="stockTickerInvalid" class="invalid-feedback">
                Stock Ticker field cannot be blank!
              </div>
            </div>

            <div style="margin=bottom: 10px" class="col-md-12">
              <label class="control-label col-md-12">Volume </label>
              <input
                type="text"
                [(ngModel)]="orderDetails.volume"
                class="form-control"
                [ngModelOptions]="{ standalone: true }"
              />
              <div class="valid-feedback">Volume field is valid!</div>
              <div class="invalid-feedback">Volume field cannot be blank!</div>
            </div>
            <div
              style="background-color: aliceblue, hight: 5px"
              class="col-md-12"
            >
              <label class="control-label col-md-12"> </label>
            </div>

            <div style="background-color: aliceblue" class="form-button">
              <button
                id="submit"
                type="submit"
                class="btn btn-primary"
                (click)="addOrder()"
              >
                Create Order
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
