
<table class="table" style ="width:80%; margin:auto">
  <thead>
  <tr>
    <th scope="col">Stock Ticker</th>
    <th scope="col">Volume</th>
    <th scope="col">Current Price</th>
    <th scope="col">Total Value</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let prop of rowData">
    <td>{{prop[0]}}</td>
    <td>{{prop[1]}}</td>
    <td>{{prop[2]}}</td>
    <td>{{prop[2] * prop[1]}}</td>
  </tr>
  </tbody>
</table>
