input{
    width: 20%;
    padding: 9px 20px;
    text-align: left;
    border: 2;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    transition: all 0.3s ease;
    margin-top: 16px;
    margin-bottom: 16px;
}

h1{
color: #003B70;
margin: auto;
width: 83%;
padding: 10px;
margin-top: 20px;
font-size: 30pt;
text-align: center
}

button{
    background-color: #2b97b9;
}