<h1 color = "#003B70">Check the daily close prices for your favourite stock over the last 5 Days!</h1>
<div style = "margin: auto; width: 82%; padding: 10px;"> 
    <div class="col-md-12" style="margin: auto;">
        <label class="control-label col-md-12">Enter Stock</label>
        <input type="text" [(ngModel)]="stockTicker" class="form-control" [ngModelOptions]="{standalone: true}">
    </div>
    <button type="button" class="btn btn-info" (click)="getDailyPriceCloses()">Update </button>
</div>


<div style="margin: auto; width: 80%;">
    <div style="display: block; width:80vw; height: 40vh">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" [colors] = "chartColors">
        </canvas>
    </div>
</div>