<mat-toolbar color="primary" class=mat-elevation-z6>
    <span>Pipeline Predators</span>

  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm"></div>
      <div class="col-sm">
      </div>
    </div>
    </div>

    <div class = "navigation">
      <button class="btn btn-info"  routerLink="/my-portfolio">My Portfolio</button>
    </div>

    <!-- <div class = "navigation">
        <button class="btn btn-secondary"  routerLink="/total-stocks">Total Volumes</button>
     </div> -->

    <div class = "navigation">
        <button class="btn btn-warning"  routerLink="/daily-close-prices">Daily Close prices</button>
     </div>

    <div class = "navigation">
        <button class="btn btn-primary"  routerLink="/orders">Order History</button>
     </div>

     <div class = "navigation">
        <button class="btn btn-success"  routerLink="/create-order">Add Order</button>
     </div>

  </mat-toolbar>
