
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Total Volume</h3>
    <div class="form-group row">
   

    <div class="form-group row">
        <div class ="col-md-5"></div>
        <div class ="col-md-2">
      <label class="control-label col-md-12">Find total volume</label>
      <input type="text" [(ngModel)]="stockTicker" class="form-control" placeholder="Stock Ticker">
      </div>
      <div class ="col-md-5"></div>
    </div>
  
    
    <div class="form-group row">
        <div class ="col-md-5"></div>
        <div class ="col-md-4">
      <button class="btn btn-success btn-block" (click)="getVolume()">Find Volume</button>
      
      <label class="control-label" style="padding-left: 2em;">Volume:  </label>
      <label class="control-label">{{volume}}</label>
      <div class ="col-md-1">
        
      </div>
    </div>

    <!-- <div class="form-group row">
        <div class ="col-md-4"></div>
        <div class ="col-md-4">
        <label class="control-label col-md-12">Stock Ticker</label>
        <label class="control-label col-md-12">{{volume}}</label>
        <div class ="col-md-4"></div>
      </div> 

      <div class = "row">
          <div class="col-md-5"></div>
          <div class = "col-md-2">
      <form>
        <div class="form-row">
          <div class="col">
            
          </div>
          <div class="col">
            <button class="btn btn-success btn-lg btn-block" (click)="getVolume()">Find Volume</button>
          </div>
          <div class="col">
            <label class="control-label col-md-12">Volume: {{volume}}</label>
          </div>
          
          
        </div>
        

      </form>
      
    </div>
    <div class="col-md-5"></div>
      </div>
   
   -->
    
